In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/simulator-database.csv', delimiter=';')
df.shape

(40904, 12)

In [4]:
df.columns

Index(['UMBRELLA', 'FUND', 'PRODUCT_NAME', 'ISIN_CODE', 'COLL_INV_SHARE_BKEY',
       'INCEPTION_DATE', 'ID', 'NAV', 'ADJUSTED_NAV', 'NAV_DATE', 'NAV_EUR',
       'PRICING_DATE'],
      dtype='object')

In [5]:
np.unique(df.ISIN_CODE)

array(['LU0104884605', 'LU0128492062', 'LU0280437160', 'LU0280438135',
       'LU0303494743', 'LU0340554673', 'LU0386875149', 'LU0474966081',
       'LU0474966677', 'LU0625737753', 'LU2017473682', 'LU2053548249',
       'LU2189604569', 'LU2468124545'], dtype=object)

In [6]:
np.unique(df.PRODUCT_NAME)

array(['Pictet TR-Aquila-I EUR', 'Pictet TR-Sirius-HE EUR',
       'Pictet-Asn Lcl Ccy Dbt-I EUR', 'Pictet-China Index-I EUR',
       'Pictet-Climate Gov Bds-I EUR', 'Pictet-Digital Comm-I EUR',
       'Pictet-Digital-I EUR', 'Pictet-EUR Bonds-I',
       'Pictet-Em Lcl Ccy Dbt-I EUR', 'Pictet-Glbl Sust. Crdt-I EUR',
       'Pictet-Glo Megatrend Sel-I EUR', 'Pictet-Global Bonds-I EUR',
       'Pictet-Japan Index-I EUR', 'Pictet-USA Index-I EUR',
       'Pictet-Water-I EUR', 'Pictet-World Gvt Bonds-I EUR'], dtype=object)

In [8]:
df[['ISIN_CODE','PRODUCT_NAME']].drop_duplicates()

          ISIN_CODE                    PRODUCT_NAME
0      LU2017473682         Pictet TR-Sirius-HE EUR
715    LU0340554673       Pictet-Digital Comm-I EUR
4156   LU0474966677        Pictet-Japan Index-I EUR
5207   LU0303494743    Pictet-World Gvt Bonds-I EUR
8859   LU0386875149  Pictet-Glo Megatrend Sel-I EUR
12214  LU0474966081          Pictet-USA Index-I EUR
13308  LU0128492062              Pictet-EUR Bonds-I
18582  LU0104884605              Pictet-Water-I EUR
24117  LU0340554673            Pictet-Digital-I EUR
27558  LU0280438135    Pictet-Asn Lcl Ccy Dbt-I EUR
31223  LU2189604569          Pictet TR-Aquila-I EUR
31705  LU0303494743       Pictet-Global Bonds-I EUR
35357  LU0280437160     Pictet-Em Lcl Ccy Dbt-I EUR
39158  LU2053548249    Pictet-Glbl Sust. Crdt-I EUR
39814  LU0625737753        Pictet-China Index-I EUR
40879  LU2468124545    Pictet-Climate Gov Bds-I EUR

In [11]:
df['NAV_DATE']=pd.to_datetime(df['PRICING_DATE'], format='%d.%m.%Y')

In [12]:
df.sample(10)

,UMBRELLA,FUND,PRODUCT_NAME,ISIN_CODE,COLL_INV_SHARE_BKEY,INCEPTION_DATE,ID,NAV,ADJUSTED_NAV,NAV_DATE,NAV_EUR,PRICING_DATE
28555,Pictet,Asian Local Currency Debt,Pictet-Asn Lcl Ccy Dbt-I EUR,LU0280438135,0153-000092-D,24.01.2007,486,138.79,NaN,2015-02-10,138.79,10.02.2015
39121,Pictet,Emerging Local Currency Debt,Pictet-Em Lcl Ccy Dbt-I EUR,LU0280437160,0153-000334-D,23.01.2007,1008,161.99,NaN,2021-02-19,NaN,19.02.2021
7919,Pictet,Global Bonds,Pictet-World Gvt Bonds-I EUR,LU0303494743,0153-001149-D,27.06.2007,938,190.07,NaN,2019-11-21,NaN,21.11.2019
27235,Pictet,Digital,Pictet-Digital-I EUR,LU0340554673,0153-000262-E,30.06.2008,583,105.89,NaN,2011-10-10,105.89,10.10.2011
1657,Pictet,Digital,Pictet-Digital Comm-I EUR,LU0340554673,0153-000262-E,30.06.2008,583,210.08,NaN,2015-01-30,210.08,30.01.2015
7101,Pictet,Global Bonds,Pictet-World Gvt Bonds-I EUR,LU0303494743,0153-001149-D,27.06.2007,938,166.93,NaN,2018-10-31,166.93,31.10.2018
17582,Pictet,EUR Bonds,Pictet-EUR Bonds-I,LU0128492062,0153-000302-A,04.05.2001,106,381.07,NaN,2009-05-22,NaN,22.05.2009
34168,Pictet,Global Bonds,Pictet-Global Bonds-I EUR,LU0303494743,0153-001149-D,27.06.2007,938,123.89,NaN,2009-01-19,NaN,19.01.2009
27365,Pictet,Digital,Pictet-Digital-I EUR,LU0340554673,0153-000262-E,30.06.2008,583,237.72,NaN,2015-12-28,237.72,28.12.2015
15017,Pictet,EUR Bonds,Pictet-EUR Bonds-I,LU0128492062,0153-000302-A,04.05.2001,106,316.37,NaN,2002-11-05,NaN,05.11.2002

In [15]:
nav=df.query('NAV_DATE >= "01-01-2022"')

In [16]:
nav

,UMBRELLA,FUND,PRODUCT_NAME,ISIN_CODE,COLL_INV_SHARE_BKEY,INCEPTION_DATE,ID,NAV,ADJUSTED_NAV,NAV_DATE,NAV_EUR,PRICING_DATE
157,Pictet TR,Sirius,Pictet TR-Sirius-HE EUR,LU2017473682,0148-003090-M,08.08.2019,5441,106.97,NaN,2022-05-19,NaN,19.05.2022
158,Pictet TR,Sirius,Pictet TR-Sirius-HE EUR,LU2017473682,0148-003090-M,08.08.2019,5441,106.71,NaN,2022-05-27,NaN,27.05.2022
159,Pictet TR,Sirius,Pictet TR-Sirius-HE EUR,LU2017473682,0148-003090-M,08.08.2019,5441,106.82,NaN,2022-05-24,NaN,24.05.2022
160,Pictet TR,Sirius,Pictet TR-Sirius-HE EUR,LU2017473682,0148-003090-M,08.08.2019,5441,106.84,NaN,2022-05-30,NaN,30.05.2022
161,Pictet TR,Sirius,Pictet TR-Sirius-HE EUR,LU2017473682,0148-003090-M,08.08.2019,5441,106.55,NaN,2022-06-01,NaN,01.06.2022
...,...,...,...,...,...,...,...,...,...,...,...,...
40899,Pictet,Climate Government Bonds,Pictet-Climate Gov Bds-I EUR,LU2468124545,0153-005099-Q,05.05.2022,6869,102.06,NaN,2022-05-13,NaN,13.05.2022
40900,Pictet,Climate Government Bonds,Pictet-Climate Gov Bds-I EUR,LU2468124545,0153-005099-Q,05.05.2022,6869,100.12,NaN,2022-05-11,NaN,11.05.2022
40901,Pictet,Climate Government Bonds,Pictet-Climate Gov Bds-I EUR,LU2468124545,0153-005099-Q,05.05.2022,6869,100.00,NaN,2022-05-05,NaN,05.05.2022
40902,Pictet,Climate Government Bonds,Pictet-Climate Gov Bds-I EUR,LU2468124545,0153-005099-Q,05.05.2022,6869,102.48,NaN,2022-05-12,NaN,12.05.2022
40903,Pictet,Climate Government Bonds,Pictet-Climate Gov Bds-I EUR,LU2468124545,0153-005099-Q,05.05.2022,6869,100.04,NaN,2022-05-10,NaN,10.05.2022

In [25]:
v=nav.head(1)['NAV']
y=nav.tail(1)['NAV']
v, y

(157    106.97
 Name: NAV, dtype: float64,
 40903    100.04
 Name: NAV, dtype: float64)

In [28]:
np.array(y)[0] /  np.array(v)[0]

0.9352154809759746

In [29]:
df

,UMBRELLA,FUND,PRODUCT_NAME,ISIN_CODE,COLL_INV_SHARE_BKEY,INCEPTION_DATE,ID,NAV,ADJUSTED_NAV,NAV_DATE,NAV_EUR,PRICING_DATE
0,Pictet TR,Sirius,Pictet TR-Sirius-HE EUR,LU2017473682,0148-003090-M,08.08.2019,5441,100.48,NaN,2020-04-15,NaN,15.04.2020
1,Pictet TR,Sirius,Pictet TR-Sirius-HE EUR,LU2017473682,0148-003090-M,08.08.2019,5441,100.66,NaN,2020-04-27,NaN,27.04.2020
2,Pictet TR,Sirius,Pictet TR-Sirius-HE EUR,LU2017473682,0148-003090-M,08.08.2019,5441,99.81,NaN,2020-04-09,NaN,09.04.2020
3,Pictet TR,Sirius,Pictet TR-Sirius-HE EUR,LU2017473682,0148-003090-M,08.08.2019,5441,99.37,NaN,2020-03-25,NaN,25.03.2020
4,Pictet TR,Sirius,Pictet TR-Sirius-HE EUR,LU2017473682,0148-003090-M,08.08.2019,5441,99.64,NaN,2020-04-08,NaN,08.04.2020
...,...,...,...,...,...,...,...,...,...,...,...,...
40899,Pictet,Climate Government Bonds,Pictet-Climate Gov Bds-I EUR,LU2468124545,0153-005099-Q,05.05.2022,6869,102.06,NaN,2022-05-13,NaN,13.05.2022
40900,Pictet,Climate Government Bonds,Pictet-Climate Gov Bds-I EUR,LU2468124545,0153-005099-Q,05.05.2022,6869,100.12,NaN,2022-05-11,NaN,11.05.2022
40901,Pictet,Climate Government Bonds,Pictet-Climate Gov Bds-I EUR,LU2468124545,0153-005099-Q,05.05.2022,6869,100.00,NaN,2022-05-05,NaN,05.05.2022
40902,Pictet,Climate Government Bonds,Pictet-Climate Gov Bds-I EUR,LU2468124545,0153-005099-Q,05.05.2022,6869,102.48,NaN,2022-05-12,NaN,12.05.2022
40903,Pictet,Climate Government Bonds,Pictet-Climate Gov Bds-I EUR,LU2468124545,0153-005099-Q,05.05.2022,6869,100.04,NaN,2022-05-10,NaN,10.05.2022

In [33]:
df.query('ISIN_CODE == "LU0340554673"').sort_values('NAV_DATE',ascending=False)

,UMBRELLA,FUND,PRODUCT_NAME,ISIN_CODE,COLL_INV_SHARE_BKEY,INCEPTION_DATE,ID,NAV,ADJUSTED_NAV,NAV_DATE,NAV_EUR,PRICING_DATE
1469,Pictet,Digital,Pictet-Digital Comm-I EUR,LU0340554673,0153-000262-E,30.06.2008,583,404.60,NaN,2022-06-13,NaN,13.06.2022
24871,Pictet,Digital,Pictet-Digital-I EUR,LU0340554673,0153-000262-E,30.06.2008,583,404.60,NaN,2022-06-13,NaN,13.06.2022
24870,Pictet,Digital,Pictet-Digital-I EUR,LU0340554673,0153-000262-E,30.06.2008,583,423.13,NaN,2022-06-10,NaN,10.06.2022
1468,Pictet,Digital,Pictet-Digital Comm-I EUR,LU0340554673,0153-000262-E,30.06.2008,583,423.13,NaN,2022-06-10,NaN,10.06.2022
1480,Pictet,Digital,Pictet-Digital Comm-I EUR,LU0340554673,0153-000262-E,30.06.2008,583,435.12,NaN,2022-06-09,NaN,09.06.2022
...,...,...,...,...,...,...,...,...,...,...,...,...
25859,Pictet,Digital,Pictet-Digital-I EUR,LU0340554673,0153-000262-E,30.06.2008,583,73.84,NaN,2008-07-02,NaN,02.07.2008
2484,Pictet,Digital,Pictet-Digital Comm-I EUR,LU0340554673,0153-000262-E,30.06.2008,583,74.80,NaN,2008-07-01,NaN,01.07.2008
25886,Pictet,Digital,Pictet-Digital-I EUR,LU0340554673,0153-000262-E,30.06.2008,583,74.80,NaN,2008-07-01,NaN,01.07.2008
25882,Pictet,Digital,Pictet-Digital-I EUR,LU0340554673,0153-000262-E,30.06.2008,583,75.14,NaN,2008-06-30,NaN,30.06.2008
2480,Pictet,Digital,Pictet-Digital Comm-I EUR,LU0340554673,0153-000262-E,30.06.2008,583,75.14,NaN,2008-06-30,NaN,30.06.2008

In [36]:
198 * (1 + (-0.233)) - 198

-46.133999999999986